mathbreakers
.direnv
!mathbreakers/doorstop_config.ini
!mathbreakers/user.reg
!mathbreakers/mathbreakers.desktop
!mathbreakers/Mathbreakers.png
!mathbreakers/.doorstop_versio
**/bin
**/bin/**
**/obj
**/obj/**
